<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net452" />
  <package id="Dapper.Contrib" version="1.60.1" targetFramework="net452" />
  <package id="DocX" version="1.7.1" targetFramework="net452" />
  <package id="EPPlus" version="5.6.1" targetFramework="net452" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net452" />
  <package id="NetOffice.Core" version="1.7.4.4" targetFramework="net452" />
  <package id="NetOffice.Outlook" version="1.7.4.4" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net452" />
</packages>